/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */
@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Futura.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins.ttf);
}

body {
    font-family: Poppins;
    src: url(../fonts/poppins.ttf);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.swal2-popup {
    font-family: 'Poppins', sans-serif !important;
}

:root, [data-bs-theme="light"] {   
    --bs-blue: #1A4798;
    --bs-red: #ed1c24;
    --bs-yellow: #f4c027;
}

.card.multicolor-border {
    position: relative;
    border: 1px solid #dee2e6;
}

.card.multicolor-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px; /* border thickness */
    background: linear-gradient(
        to right,
        #dc3545 0%,
        #dc3545 30%,
        #ffc107 30%,
        #ffc107 50%,
        #0d6efd 50%,
        #0d6efd 100%
    );
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}